.coverage
.pytest_cache/
.venv/
__pycache__/
*.py[cod]

reports/junit.xml
reports/coverage.json
reports/coverage_html/
reports/scorecard-results.sarif

gx/validations/
gx/data_docs/local_site/validations/
